<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ shop.name }}</title>
  <meta name="robots" content="noindex, nofollow">

  {% render 'meta-tags' %}

  {%- if settings.favicon -%}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
  {%- endif -%}

  <style>
    @font-face {
      font-family: 'Antarctica';
      src: url('{{ "antarctica-beta-vf.ttf" | asset_url }}') format('truetype');
      font-weight: 100 900;
      font-style: normal;
      font-display: swap;
    }
  </style>

  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ content_for_header }}
</head>
<body class="password-page">
  <main id="main-content">
    {{ content_for_layout }}
  </main>
</body>
</html>
